{% extends 'catalog/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text"><strong>Заголовок: {{ blog.title }} ({{ blog.slug }})</strong></p>
                        <p class="card-text">Описание блога: {{ blog.body}}</p>
                        <p class="card-text">Количество просмотров: {{ blog.views_count}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'blog:list' %}" 
                                   role="button">Назад</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}