{% extends 'catalog/base.html' %}

{% block content %}
    <div class="col-12">
        <form class="row" method="post">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        <label for="email">Введите ваш email:</label>
                        <input type="email" name="email" required>
                        <button type="submit" class="btn btn-success">Восстановить пароль</button>
                        <a class="btn btn-primary" href="{% url 'users:login' %}" role="button">Назад</a>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </form>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}